 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    height: 100vh;
    width: 100%;
    background-color: hsl(30, 38%, 92%);
 }

 main {
    height: 100vh;
    width: 375px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;/*40*/
 }

 main img {
   margin-left: 2.5em;/*40px*/
   margin-right: 2.5em;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

 
 span p {
   margin-top: 1.25em;
   margin-left: 1.5625em;
   font-family: "Montserrat", sans-serif;
   font-size: 1.1em;
   font-weight: 400;
   letter-spacing: .1rem;
   color: hsl(228, 12%, 48%);
 }

 h1 {
    font-family: "Fraunces", sans-serif;
    font-size: 2.1875em;
    margin-top: -0.4em;
    margin-left: 0.60em;
 }
 .perfume {
    background-color: hsl(0, 0%, 100%);
    margin-left: 2.5em;
    margin-right: 2.1875em;
    width: 385px;
    height: 27em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 }

/*main paragraph*/

 .floral {
   font-family: 'Montserrat', sans-serif;
   font-size: 13px;
   line-height: 1.90;
   font-weight: 700;
   color: hsl(228, 12%, 48%);

 }

 .cost {
   font-family: 'Fraunces', sans-serif;
   font-size: 30px;
   margin-top: 1.25em;
   margin-left: 25px;
   color: hsl(158, 36%, 37%);
   display: block;
 }

 .cost s {
   font-size: 15px;
   margin-left: 25px;
   color: hsl(228, 12%, 48%);
 }

 button {
   margin-left: 2.1875em;
   margin-right: auto;
   margin-top: 1.380em;
   width: 25em;
   height: 4em;
   border: none;
   border-radius: 0.9375em;
   background-color: hsl(158, 36%, 37%);
   cursor: pointer;

 }

 .payment {
   display: flex;
   height: 1.25;
   margin-top: 3px;/*0.1875*/
   padding: 0;
 }

 .payment p {
  margin-top: -15px;
   margin-left: 0.625em;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 700;
   color: white;
   text-align: center;
 }

 .cart {
   width: 0.9475em;
   height: 14px;
   justify-content: center;
   text-align: center;
   margin-right: 3px;
   margin-left: -120px;
  
 }

.hide {
  display: none;
}


 .attribution {
  margin-top: 40em;
 }

/*DESKTOP*/

 @media only screen and (min-width: 992px) {
  body {
    background-color: hsl(30, 38%, 92%);
  }


  main  {
    display: flex;
    height: 100vh;
    width: 1440px;
    margin-top: 120px;
  }

  main img {
    background-image: url('images/image-product-mobile.jpg');
    height: 450px;
    margin-left: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;/*0.3125*/
  }

  span p {
    font-size: 0.91em;
    margin-top: 2.01em;
  }


h1 {
  font-size: 2.2em;
  margin-top: -.60em;
  line-height: 1.1em;
}

.payment {
  margin-top: 15px;/*1.5625*/
}

button {
  margin-right: 3em;
  width: 25em;
}

br {
  display: none;
}
.perfume {
    /*margin-top: -px;*/
    margin-left: -41px;
    margin-right: auto;
    height: 450px;
    width: 310px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;/*0.3125*/
  }

  .cost {
    margin-top: 0.5em;
  }

  .hide {
    display: block;
  }
 }


 